.about {
  background-color: #f4f5f7;
  padding: 46px 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: center;

  &__column {
    font-size: 22px;
    line-height: 32px;
    margin: 0 15px;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &__column-title {
    font-weight: 700;
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 400px) {
  .about {
    padding: 0;
  }
  .about-content {
    flex-direction: row;
    width: 100%;
    height: 255px;

    &__column {
      &:first-child {
        margin-right: 29px;
      }
    }

    &__column-title {
      margin-bottom: 6px;
    }
  }
}
