.customers {
  padding-top: 30px;
  padding-bottom: 106px;
}

.labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;

  &__img {
    filter:brightness(0)
  }
}