.customers {
  padding-bottom: 48px;
}

.labels {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  align-self: center;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 94px;
    border: 1px solid #E3E3E3;
    
  }

  &__img {
    filter: brightness(0);
    transform: scale(0.5);
  }
}

@media screen and (min-width: 1000px) {
  .customers {
    padding-top: 30px;
    padding-bottom: 106px;
  }

  .labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    &__wrap {
      border: none;
      
    }

    &__img {
      transform: scale(1);
    }
  }
}