.page {
  display: flex;
  flex-direction: column;
  // min-width: 100vw;
  min-height: 100vh;
}

.action-btn {
  background-color: #2040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}

.about-btn {
  width: 158px;
  height: 48px;
  color: #3040c4;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
}

.content {
  width: 1140px;
  margin: auto;
}

.subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
