.page {
  width: 100%;
}

.action-btn {
  background-color: #2040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}

.about-btn {
  width: 158px;
  height: 48px;
  color: #3040c4;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
}

.content {
  width: 100%;
  margin: auto;
}

.subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}

.description {
  font-size: 24px;
  line-height: 34px;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}

.logo {
  display: flex;

  &__img {
    width: 48px;
    height: 48px;
    margin-right: 13px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
}

.img-description {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 400px) {
  .top {
    background-color: #f3c6bd;
  }

  .content {
    width: 1140px;
  }
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .logo {
    &__img {
      width: 60px;
      height: 60px;
    }

    &__desctiption {
      display: inline;
      font-size: 18px;
      line-height: 25px;
      opacity: 0.6;
    }
  }
}