.page {
  display: flex;
  flex-direction: column;
  // min-width: 100vw;
  min-height: 100vh;
}

.btn {
  background-color: #2040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}