

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;

  &__btn {
    display: none;
  }

  &__hamburger-menu {
    display: flex;
    margin-left: auto;
    width: 58px;
    height: 64px;
    border: none;
    background-color: #fff;
    border-left: 1px solid #00000015;

    &:active {
      .navigation {
        display: block;
      }
    }
  }

  &__hamburger-img {
    margin: auto;
  }
}

.navigation {
  display: none;
}

.header-logo__description {
  display: none;
}

.top {
  background-color: #f3c6bd;
}

@media screen and (min-width: 400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;

    &__item {
      font-size: 18px;
      line-height: 25px;
      margin-right: 50px;
      color: #2b292d;

      &_selected {
        font-weight: 700;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__arrow {
      display: inline-block;
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
      height: 5px;
      width: 8px;
      margin-left: 11px;
    }
  }

  .header {
    display: flex;
    width: 1140px;
    height: 62px;
    margin: auto;
    background-color: #f3c6bd;

    &__btn {
      display: block;
    }

    &__hamburger-menu {
      display: none;
    }
    
  }

  .top {
    padding-top: 39px;
  }
}
