.header-content {
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin-left: 15px;
}

.header {
  &__btn {
    display: none;
  }

  &__logo-description {
    display: none;
  }

  &__logo {
    align-items: center;
  }

  &__hamburger-menu {
    width: 58px;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    text-align: center;
  }

  &__hamburger-img {
    display: inline-block;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
    width: 18px;
    height: 13px;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 1000px) {
  .header-content {
    height: 62px;
  }
  .header {
    padding-top: 39px;
    background-color: $top-color;

    &__hamburger-menu {
      display: none;
    }

    &__btn {
      display: block;
      margin-left: 56px;
    }

    &__logo-description {
      display: block;
    }
  }

  .navigation {
    display: flex;
    margin-left: auto;
    align-items: center;

    &__item {
      padding: 0 25px;
      font-size: 18px;
      line-height: 25px;
      color: #2B292D;

      &_selected {
        font-weight: 700;
      }
    }

    &__arrow {
      display: inline-block;
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 8px;
      height: 5px;
      margin-left: 11px;
      margin-bottom: 3px;
     
    }
  }
}