.header-content {
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin-left: 15px;

  @include for-large {
    height: 62px;
  }
}

.header {
  @include for-large {
    padding-top: 39px;
    background-color: $top-color;
  }

  &__btn {
    display: none;

    @include for-large {
      display: block;
      margin-left: 56px;
    }
  }

  &__logo-description {
    display: none;

    @include for-large {
      display: block;
    }
  }

  &__logo {
    align-items: center;
  }

  &__hamburger-menu {
    width: 58px;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    text-align: center;

    @include for-large {
      display: none;
    }
  }

  &__hamburger-img {
    display: inline-block;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
    width: 18px;
    height: 13px;
  }
}

.navigation {
  display: none;

  @include for-large {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  &__item {
    @include for-large {
      padding: 0 25px;
      font-size: 18px;
      line-height: 25px;
      color: #2b292d;
      cursor: pointer;
    }

    &_selected,
    &:hover {
      @include for-large {
        font-weight: 700;
      }
    }
  }

  &__arrow {
    @include for-large {
      display: inline-block;
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 8px;
      height: 5px;
      margin-left: 11px;
      margin-bottom: 3px;
    }
  }
}
