.headline {
  padding: 35px 0 36px 0;
  background-color: #f3c6bd;

  @include for-large {
    padding: 84px 0 77px 0;
  }

  &__text {
    margin: 0 15px;

    @include for-large {
      position: absolute;
      top: -8px;
      width: 754px;
      margin: 0;
      z-index: 1;
    }
  }
  &__title {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    margin-bottom: 24px;

    @include for-large {
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      margin-bottom: 34px;
    }
  }

  &__description {
    margin-bottom: 30px;

    @include for-large {
      width: 456px;
      margin-bottom: 58px;
    }
  }

  &__btns {
    @include for-large {
      display: flex;
      width: 328px;
    }
  }

  &__btn {
    width: 100%;
    &:first-child {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 33px;

      @include for-large {
        margin-left: 10px;
      }
    }
  }

  &__banner {
    width: 100%;

    @include for-large {
      position: relative;
      right: -108px;
      width: 796px;
      height: 448px;
      margin-left: auto;
    }
  }
}

.headline-content {
  @include for-large {
    display: flex;
    position: relative;
  }
}
