.order {
  background-color: #F4F5F7;
  padding: 50px 15px 50px 15px;
  @include for-large {
    padding: 73px 0 72px;
  }
}

.order-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-large {
    flex-direction: row;
    justify-content: space-around;
  }
  

  &__img {
    margin-bottom: 40px;
  }

  &__img-window {
    width: 200px;
    height: 200px;
    @include for-large {
      width: 269px;
      height: 296px;
    }
  }

  &__text {
    @include for-large {
      width: 555px;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -.25px;
    text-align: center;
    @include for-large {
      text-align: left;
      margin-bottom: 12px;
    }
  }

  &__description {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 32px;
    @include for-large {
      margin-bottom: 26px;
    }
  }

  &__form {
    text-align: center;
    margin-bottom: 10px;
    @include for-large {
      text-align:left;
    }
  }

  &__input-email {
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    @include for-large {
      display: inline-block;
      width: 385px;
      margin: 0;
    }
    &::-webkit-input-placeholder {
      text-align: center;
      color: #2B292D;
    }
  }

  &__btn {
    width: 100%;
    @include for-large {
      width: 160px;
    }
  }

  &__form-description {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }

  &__link {
    color: rgba(49, 66, 198, 1);
    text-decoration: underline;
  }
}