@import 'variables.scss';
@import 'mixins.scss';
* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h3,
h1,
h4,
h2,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

figure {
  margin: 0;
}

.page {
  width: 100%;
}

.action-btn {
  background-color: $btn-color-action;
  color: $btn-color-about;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: $action-bg-hover;
  }
}

.about-btn {
  width: 158px;
  height: 48px;
  color: $btn-color-action;
  background-color: $btn-color-about;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background-color: $about-bg-hover;
  }
}

.page {
  @include for-large {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.content {
  width: 100%;
  margin: auto;

  @include for-large {
    width: 1140px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}

.description {
  font-size: 24px;
  line-height: 34px;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
}

.logo {
  display: flex;
  &__link {
    cursor: pointer;
  }
  &__img {
    width: 48px;
    height: 48px;
    margin-right: 13px;
    @include for-large {
      width: 60px;
      height: 60px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    @include for-large {
      display: inline;
      font-size: 18px;
      line-height: 25px;
      opacity: 0.6;
    }
  }
}

.img-description {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

@import 'header.scss';
@import 'footer.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'tips.scss';
@import 'order.scss';
@import 'inbox.scss';
@import 'communication.scss';
@import 'audience.scss';
@import 'feadback.scss';
@import 'hiring.scss';
