@import 'header.scss';
@import 'global.scss';
@import 'footer.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'tips.scss';
@import 'order.scss';
@import 'inbox.scss';
@import 'communication.scss';
@import 'audience.scss';
@import 'feadback.scss';
@import 'hiring.scss';


* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #2b292d;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h3,
h1,
h4,
h2,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  overflow-x:hidden;
}

figure {
  margin: 0;
}