$top-color: #F3C6BD;
$text-color: #2B292D;
$dots-color:  #2B292D;
$inbox-bg: #fcf0e3;
$audience-bg: rgba(0, 161, 198, 0.07);
$order-bg: #F4F5F7;
$hover-bg: #3141C5;
$btn-color-action: #3040C4;
$btn-color-about: #fff;
$action-bg-hover: rgb(1, 137, 209);
$about-bg-hover: #F4F5F7;
$font-family: 'Work Sans', sans-serif;
$font-size: 16px;
$lg: 1000px;