.adience-wrap {
  @include for-large {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.audience {
  padding: 50px 15px;
  background-color: $audience-bg;

  @include for-large {
    padding: 108px 0 110px 0;
  }

  &__text {
    margin-bottom: 40px;
    text-align: center;
   
    @include for-large {
      margin-bottom: 111px;
      width: 555px;
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 17px;
    line-height: 34px;
    
    @include for-large {
      margin-bottom: 24px;
    }
  }

  &__tittle {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    
    @include for-large {
      margin-bottom: 30px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-bottom: 30px;
    
    @include for-large {
      margin-bottom: 34px;
    }
  }

  &__btn {
    margin-bottom: 12px;
    width: 100%;
    
    @include for-large {
      width: 160px;
      margin: 0;
    }

    &:first-child {
      @include for-large {
        margin-right: 10px;
      }
    }

    &:last-child {
      color: #000;
    }
  }

  &__lnks {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    width: 290px;
    height: 300px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    
    @include for-large {
      margin-right: 30px;
      width: 262px;
    }

    &:last-child {
      @include for-large {
        margin-right: 0;
      }
    }

    &:hover {
      background-color: $hover-bg;
      .audience__link-description {
        color: #fff;
      }
    }
  }

  &__link-img {
    margin: 22px 0;
  }

  &__link-description {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: $text-color;
  }
}
