.customers {
  padding-bottom: 48px;

  @include for-large {
    padding-top: 30px;
    padding-bottom: 106px;
  }
}

.labels {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  align-self: center;

  @include for-large {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
  }

  &__wrap {
    display: flex;
    width: 107px;
    height: 94px;
    justify-content: center;
    align-items: center;
    border: 1px solid #E3E3E3;

    &:nth-child(4) {
      .labels__img {
        transform: scale(0.6);
        @include for-large {
          transform: scale(1);
        }
      }
      
    }

    @include for-large {
      border: none;
    }
    
  }

  &__img {
    filter: brightness(0);
    transform: scale(0.8);

    

    @include for-large {
      transform: scale(1);
    }
  }
}