.feadback {
  padding: 0 15px 50px 15px;
  border-bottom: 1px solid #e3e3e3;
  @include for-large {
    padding-bottom: 68px;
    position: relative;
  }

  &__subtitle {
    margin-bottom: 29px;
    color: #3142c6;
  }

  &__img {
    @include for-large {
      position: absolute;
      top: 112px;
      right: 0;
    }
  }
}

.slider {
  margin-bottom: 40px;
  
  @include for-large {
    text-align: center;
  }
  &__quote {
    padding: 0;
    border: none;
    
    @include for-large {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__quote-autor {
    @include for-large {
      width: 225px;
      display: block;
    }
  }
  &__text {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 34px;
    
    @include for-large {
      max-width: 750px;
    }
  }
}

.slider-dots {
  margin-bottom: 40px;
  text-align: center;

  &__dot {
    display: inline-block;
    margin-right: 19px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $dots-color;
    opacity: 0.2;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }

    &_active,
    &:hover {
      opacity: 1;
      background-color: #3142c5;
    }
  }
}
