.features {
  display: none;

  @include for-large {
    display: block;
    padding-bottom: 110px;
  }
}

.features-content {
  @include for-large {
    display: flex;
    position: relative;
  }

  &__subtitle {
    @include for-large {
      margin-bottom: 24px;
      color: #009b4d;
    }
  }

  &__title {
    @include for-large {
      max-width: 462px;
      margin-bottom: 30px;
    }
  }

  &__description {
    @include for-large {
      max-width: 461px;
      margin-bottom: 42px;
    }
  }

  &__link {
    @include for-large {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: #3142c6;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    &::before {
      @include for-large {
        position: relative;
        top: 4px;
        content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png);
        width: 24px;
        height: 24px;
        margin-right: 15px;
      }
    }
  }

  &__advantage {
    @include for-large {
      margin-top: 10px;
      max-width: 459px;
      font-size: 18px;
      line-height: 26px;
    }

    &::after {
      @include for-large {
        display: block;
        margin-top: 18px;
        content: '';
        border-top: 3px solid #3142c6;
      }
    }
  }

  &__opportunity {
    @include for-large {
      display: flex;
      align-items: center;
      width: 457px;
      height: 70px;
      border-bottom: 1px solid rgba(43, 41, 45, 0.16);
    }
  }

  &__opportunity-img {
    @include for-large {
      margin-right: 15px;
    }
  }

  &__img {
    @include for-large {
      position: relative;
      left: 120px;
    }
  }

  &__lateral-img {
    @include for-large {
      position: absolute;
      top: 258px;
      left: -128px;
    }
  }
}
