.footer {
  padding: 40px 0 22px 0;
  @include for-large {
    padding: 0;
  }

  &__top {
    display: flex;
    margin-bottom: 59px;
    flex-direction: column;
    @include for-large {
      flex-direction: row;
    }
  }

  &__logo {
    margin-bottom: 31px;
    flex-direction: column;
    align-items: center;
   
    @include for-large {
      margin-bottom: 26px;
      height: 60px;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__log-img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    @include for-large {
      margin-bottom: 0;
    }
  }

  &__logo-text {
    text-align: center;
   
    @include for-large {
      margin-left: 15px;
      text-align: left;
    }
  }

  &__logo-name {
    margin-bottom: 5px;
   
    @include for-large {
      margin-bottom: 0;
    }
  }

  &__logo-description {
    font-size: 18px;
    line-height: 25px;
    opacity: 0.6;
  }

  &__line {
    display: none;
    @include for-large {
      display: block;
      margin-bottom: 13px;
      width: 100vw;
      border-bottom: 1px solid #2b292d;
      opacity: 0.1;
    }
  }

  &__links {
    margin: 0 15px;
    @include for-large {
      display: flex;
      margin: 0;
      margin-bottom: 15px;
      width: 100%;
      height: 22px;
      justify-content: space-between;
    }
  }

  &__links-terms {
    display: flex;
    margin-bottom: 31px;
    width: 180px;
    justify-content: space-between;
  }

  &__terms-link {
    font-size: 14px;
    line-height: 22px;
    color: $text-color;
    opacity: .6;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  &__links-social {
    display: flex;
    width: 97px;
    justify-content: space-between;
  }
}

.about-company {
  padding-bottom: 40px;
  border-bottom: 1px solid #e3e3e3;
  @include for-large {
    margin-top: 43px;
    padding-bottom: 0;
    width: 360px;
    border: none;
  }
  &__description {
    display: none;
    @include for-large {
      display: inline-block;
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 26px;
      opacity: 0.6;
    }
  }

  &__downloads-links {
    text-align: center;
    @include for-large {
      text-align: left;
    }
  }

  &__downloads-link {
    display: inline-block;
    height: 40px;
    &:first-child {
      margin-right: 5px;
    }
  }
}

.footer-nav {
  padding: 30px 15px 0 15px;
  @include for-large {
    display: flex;
    margin-left: auto;
    margin-top: 60px;
    width: 559px;
    padding: 0;
  }

  &__column {
    margin-bottom: 30px;
    @include for-large {
      margin-bottom: 0;
      margin-left: 29px;
      width: 265px;
    }
    &:first-child {
      @include for-large {
        margin-left: 0;
      }
    }
  }

  &__title {
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 28px;
  }

  &__list-link {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    color: $text-color;
    opacity: .6;
    cursor: pointer;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.social-link-icon {
  &__twitter,
  &__facebook,
  &__linkedin {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__facebook,
  &__linkedin {
    width: 18px;
    height: 17px;
  }

  &__twitter {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png);
    width: 27px;
    height: 16px;
  }

  &__facebook {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png);
  }

  &__linkedin {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png);
  }
}
