.hiring {
  padding: 50px 15px;
  
  @include for-large {
    padding: 106px 0 110px 0;
  }

  &__text {
    text-align: center;
    @include for-large {
      max-width: 555px;
    }
  }

  &__content-wrap {
    @include for-large {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 18px;
    letter-spacing: -0.357143px;
    font-size: 40px;
    line-height: 40px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__btn {
    margin-bottom: 39px;
    
    @include for-large {
      padding: 0 28px;
    }
  }

  &__link {
    display: flex;
    margin-bottom: 15px;
    padding-left: 20px;
    height: 140px;
    width: 290px;
    align-items: center;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    cursor: pointer;
    
    @include for-large {
      padding-left: 25px;
      width: 750px;
      height: 81px;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background-color: $hover-bg;
      
      .hiring__link-arrow {
        background-color: $hover-bg;
      }

      .hiring__link-post,
      .hiring__link-subtitle
       {
        color: #fff;
      }
    }
  }

  &__link-wrap {
    @include for-large {
      display: flex;
      width: 650px;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link-arrow {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
    margin-left: auto;
    width: 50px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d5d4d5;
    border-radius: 0 8px 8px 0;
   
    @include for-large {
      height: 100%;
      background-color: #fff;
    }
  }

  &__link-post {
    display: block;
    margin-bottom: 7px;
    width: 200px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: $text-color;
    @include for-large {
      flex-grow: 1;
    }
  }

  &__link-subtitle {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
  }
}
